<header data-bs-theme="dark">
  <div class="navbar navbar-dark bg-dark shadow-sm me-2">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="/src/assets/spotify-logo.png" width="20" height="20" alt="spotify-logo" class="me-2">
        <strong>Spotify</strong>
      </a>
    </div>
    @if(user) {
    <span class="navbar-text">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{user.name}}
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" style="cursor: pointer;" (click)="favoritos();">Músicas Favoritas</a></li>
      </ul>
    </span>
    }
  </div>

</header>
<main>
  <router-outlet></router-outlet>
</main>