<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#music-modal">
    Criar nova musica
</button>

<!-- Modal -->
<div class="modal fade" id="music-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Criar nova Musica
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-12 row-cols-md-12 g-12">
                        <div class="col">
                            <div class="mb-12">
                                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                                <input type="text" class="form-control" placeholder="Nome da musica" name="nome"
                                    [formControl]="nome" />
                                @if (this.nome.dirty) { @if (this.nome.invalid &&
                                this.nome.errors?.['required']) {
                                <span class="invalid"> Nome da Música Obrigatório </span>
                                } }
                            </div>
                            <div class="mb-12">
                                <label for="exampleFormControlInput1" class="form-label">Descricao</label>
                                <input type="text" class="form-control" placeholder="descrição da musica"
                                    name="descricao" [formControl]="descricao" />
                                @if (this.descricao.dirty && (this.descricao.invalid &&
                                this.descricao.errors?.['required'])) {
                                <span class="invalid"> Senha é obrigátoria </span>
                                }
                            </div>
                            <div class="mb-12">
                                <label for="exampleFormControlInput1" class="form-label">Imagem</label>
                                <input type="file" class="form-control" placeholder="Selecione a imagem da musica"
                                    id="fileImg" />
                            </div>
                            <div class="mb-12">
                                <label for="exampleFormControlInput1" class="form-label">Banda</label>
                                <select class="form-select" name="banda" [formControl]="banda">
                                    <option selected value="">Selecione a banda</option>
                                    @for (item of itensBanda; track $index) {
                                    <option [value]="item.id">{{item.name}}</option>
                                    }
                                </select>
                                @if (this.banda.dirty && (this.banda.invalid &&
                                this.banda.errors?.['required'])) {
                                <span class="invalid"> Banda é obrigátoria </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnClose" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary" (click)="criar()">Criar</button>
            </div>
        </div>
    </div>
</div>